.block-explorer-nav {
  display: flex;
  flex-direction: column;
  min-width: 16rem;
  max-width: 16rem;
  flex: 1;
  gap: 1rem;
}

.block-explorer-title {
  margin-top: 0;
  margin-bottom: 0;
}

.block-explorer-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 60rem) {
  .block-explorer-nav {
    min-width: unset;
    max-width: unset;
  }

  .block-explorer-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (max-width: 40rem) {
  .block-explorer-list {
    flex-direction: column;
  }
}
