.transaction-item {
  display: flex;
  flex-direction: column;
  gap: 0;
  border-bottom: var(--border-muted);
  padding: 0.75rem;
  font-size: 0.675rem;
}

.transaction-item-from-to {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.transaction-item-from,
.transaction-item-to {
  flex: 1 0 0;
  min-width: 0;
}

.transaction-item-to {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.transaction-item-hash {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 0;
  flex: 1;
}

.transaction-item-hash > span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0;
  flex: 1;
}

.coinbase-label {
  color: var(--text-color-green);
  font-weight: bold;
}

.transaction-item-inputs {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.transaction-item-input {
  display: flex;
  align-items: center;
  min-width: 0;
}

.transaction-item-input-address {
  flex: 1 1 0%;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 0.5rem;
  font-weight: 600;
}

.transaction-item-fee-container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.transaction-item-arrow {
  display: flex;
  margin-top: 1.5rem;
  color: var(--text-color-green);
}

.transaction-item-arrow svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--text-color-green);
}

.transaction-date {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.transaction-item-fee-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.transaction-item-fee-container,
.transaction-item-badges {
  flex: 1 0 0;
  min-width: 0;
}

.transaction-item-badges {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  margin-left: auto;
}

.transaction-item-badges-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.transaction-item-badges-container > span {
  height: fit-content;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.transaction-item-total-btc-value-badge {
  background-color: #c3ebd7;
  color: var(--text-color-green);
}

.transaction-item-confirmations-badge {
  color: #174ea6;
  background-color: #afd2f8;
}

.transaction-item-total-btc-value-badge,
.transaction-item-confirmations-badge {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  display: block;
}
