.detail-item {
  border-bottom: var(--border-muted);
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  padding: 0.5rem 0;
  font-size: 0.75rem;
  font-weight: 600;
}

.detail-item dt {
  color: var(--text-color-secondary);
  flex: 1;
}

.detail-item dd {
  flex: 3;
}
